/*
Theme Name: Tema do Thales
Author: Thales
Author URI: http//:www.gitlab.com/thalesmendonca
Description: Tema pra tarefa de WordPress
Version: 1.0
*/


body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


main {
    background-color: #333;
}

header,
footer {
    height: 70px;
    background-color: #0066cc;
}

/*Formatação dos textos*/
h1 {
    font-size: 3.2rem;
    color: white;
}

p {
    color: white;
}